@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
/* @media (min-width: 2135px) {
  #container {
    padding: 20px 93px 0 93px;
  }
}
#container {
  padding: 10px 10px 0 10px;
} */
nav a.active {
  color: #000;
  font-weight: 500;
}
  /* nav {
    transform: translateX(-100%);
  } */

/* NulisRight */
:root {
  --size: 0;
  --top: 0;
  --bottom: 0;
  --right: 0;
  --left: 0;
  --height: 0;
  --font: Custom-1;
  --color: #000;
}
#mantap {
  font-size: var(--size);
  margin-top: var(--top);
  margin-bottom: var(--bottom);
  margin-right: var(--right);
  margin-left: var(--left);
  line-height: var(--height);
}
/* End NulsRight */

/* End CustomFont */
#image-container {
  background-repeat: no-repeat;
  background-size: 100%;
  color: var(--color);
}
