@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;700&display=swap');
@tailwind base;
@tailwind components;
@tailwind utilities;
#container {
  padding: 20px 93px 0 93px;
}
nav a.active {
  color: #000;
  font-weight: 500;
}
